body {
  font-family: "Barlow";
}

.background {
  background-color: rgb(0, 0, 0);
  background-image: url(../img/background-quimica.png);
  background-attachment: fixed;
  color: white;
}

.cabecalho {
  text-align: center;
  margin: auto;
  padding: 80px 30px 80px 30px;
}

.nome {
  font-size: 2.7rem;
}

.foto img {
  width: 280px;
  margin: 20px;
}

.profissao {
  font-size: 1.4rem;
  font-size: "Barlow";
  font-style: italic;
}

.conteudo {
  line-height: 2.5rem;
  color: black;
  width: 72%;
  background-color: rgb(255, 255, 255);
  margin: auto;
  padding: 50px;
  border-radius: 20px;
}

.navegacao li {
  margin: 0px 0px 30px 0px;
  display: inline-block;
  position: relative;
  left: 28%;
  width: 170px;
  font-size: 1.2rem;
}

.navegacao li a:link,
.navegacao li a:visited {
  color: rgb(0, 0, 0);
  text-decoration: none;
  text-align: center;
}

.navegacao li a:hover {
  color: #ff7d97;
  text-decoration: underline;
}

.logo img {
  width: 100px;
  float: left;
}

.conteudo img {
  float: left;
  width: 140px;
  padding: 10px;
}

.fonte--media {
  font-size: 1.4rem;
  text-align: justify;
}

.titulo {
  font-family: "Overpass";
  font-size: 2rem;
  margin-top: 30px;
}

.fa-check {
  color: rgb(192, 119, 214);
}

.espaco-paragrafo {
  margin-bottom: 12px;
}

.fa-book-open-cover,
.fa-graduation-cap,
.fa-book {
  color: #ff7d97;
}

.fa-envelope,
.fa-mobile-alt {
  color: #ffc552;
}

.footer {
  position: relative;
  padding: 100px;
  margin-top: 80px;
  background-color: rgb(14, 13, 13);
  text-align: center;
}

.fa-linkedin,
.fa-github,
.fa-codepen {
  margin: 20px 10px 20px 10px;
  color: rgb(201, 201, 201);
}

.btn-inicio {
  font-size: 3rem;
  width: 58px;
  height: 58px;
  line-height: 58px;
  text-align: center;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  position: fixed;
  bottom: 20px;
  right: 20px;
  opacity: 0.6;
}

.btn-inicio:hover {
  opacity: 1;
}

.fa-circle-arrow-up {
  color: rgb(14, 13, 13);
}
